{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}

    <header class="header">
        <div class="base-header">
            <div class="top-header">
                <div class="container">
                    <div class="row">
                        <div class="col-5 col-md-8 col-lg-6">
                            <div class="top-header-info-left"><span class="top-email"><i
                                    class="fas fa-envelope mr-1"></i>support@pythonexpert.ir </span> <span
                                    class="top-phone ml-2"><i class="fas fa-mobile-alt mr-1"></i>031-36680000</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="middle-header bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-4 col-lg-2">
                            <div class="logo-brand"><i class="fas fa-bars menu-mobile"></i>
                                <a href="/">
                                    <img style="width: 80px;height: 80px" src="{% static 'img/python_expert.png' %}"
                                         alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-8 col-lg-5">
                            <div class="nav-search">
                                {% include 'shared/search_input_component.html' %}
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-5">
                            <div class="group-icon-header">
                                <div class="cart"><a href=""><i class="fas fa-shopping-basket"></i>
                                </a>
                                </div>
                            </div>
                            {% if not request.user.is_authenticated %}

                                <div class="group-btn-header"><a href="/register" class="btn-resgiter ml-2">ثبت نام</a>
                                    <a href="/login" class="btn-login ">ورود</a>
                                </div>
                            {% else %}
                                <div class="group-btn-header"><a href="/logout" class="btn-resgiter ml-2"> خروج</a>
                                </div>

                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-header bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-4">
                            <div class="page-breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">خانه</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#"><i class="fas fa-angle-left"></i></a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">دوره ها</li>
                                    <li class="breadcrumb-item active"><a href="#"><i class="fas fa-angle-left"></i></a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">لیستی</li>
                                </ol>
                            </div>
                            <div class="logo-brand">
                                <a href="">
                                    <img style="width: 80px;height: 80px" src="{% static 'img/python_expert.png' %}"
                                         alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="block-navigation float-left">
                                <nav class="navbar navbar-expand-lg">
                                    <ul class="navbar-nav">
                                        <li class="nav-item"><a class="nav-link" href="/">خانه</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" href="/courses">دوره ها </a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" href="/blog">وبلاگ </a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" href="/contact-us">تماس با ما</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Navigation For Mobile -->
            <div class="block-menu-mobile">
                <div class="accordion" id="menu-screen-mobile">
                    <h3>صفحه منو</h3>
                    <div class="card">
                        <div class="card-header">
                            <a href="/" class="mr-2"> خانه</a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <a href="/courses" class="mr-2">
                                دوره ها
                            </a>
                        </div>

                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a href="/blog" class="mr-2">
                                وبلاگ
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a href="/contact-us" class="mr-2">
                                تماس با ما
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay-black">
                <i class="fas fa-times close-mobile float-left"></i>
            </div>
            <!-- End Navigation For Mobile -->
        </div>
    </header>

    <div class="wrapper-page">
        <div class="content-page">
            <!-- List Courses Section -->
            <div class="list-courses-section">
                <div class="title-page text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>امکانات</h4>
                                <hr class="line-title">
                                <h1>دوره ها</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gr-card-courses-list">
                    <div class="container">
                        <div class="row">
                            {% for course in page_obj %}
                                {% include 'courses/course_list_component.html' with course=course %}
                            {% endfor %}



                            <div class="blog-pagination">
                                <nav>
                                    <ul class="pagination justify-content-center">
                                        {% if page_obj.has_previous %}

                                            <li class="page-item"><a class="page-link"
                                                                     href="?page={{ page_obj.pervious_page_number }}"><i
                                                    class="fas fa-angle-right"></i></a>
                                            </li>
                                        {% endif %}

                                        {% for page in paginator.page_range %}
                                            {% if page == page_obj.number %}
                                                <li class="page-item active"><a class="page-link"
                                                                                href="?page={{ page }}">{{ page }}</a>
                                                </li>

                                            {% else %}
                                                <li class="page-item"><a class="page-link"
                                                                         href="?page={{ page }}">{{ page }}</a>
                                                </li>
                                            {% endif %}

                                        {% endfor %}


                                        {% if page_obj.has_next %}


                                            <li class="page-item"><a class="page-link"
                                                                     href="?page={{ page_obj.next_page_number }}"><i
                                                    class="fas fa-angle-left"></i></a>
                                            </li>
                                        {% endif %}

                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Upcoming Events Section -->
            <!-- Register Now Section -->
            <div class="register-now">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="base-form-resgister-now px-4 py-4">
                                <h3 class="mb-3">مشاوره با متخصصان ما</h3>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="نام شما...">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="ایمیل شما...">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="تلفن شما...">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="آدرس شما...">
                                </div>
                                <button type="submit" class="btn btn-fill-primary mt-3 mb-3">ثبت نام</button>
                            </div>
                        </div>
                        <div class="col-lg-6 offset-lg-1">
                            <div class="content-register-now">
                                <h1>آینده شما از اینجا شروع می شود</h1>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان
                                    گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و
                                    برای شرایط فعلی تکنولوژی مورد نیاز</p>
                                <div class="group-button-res-now mt-4"><a href="/courses"
                                                                          class="btn btn-fill-secondary ml-2">شروع به
                                    یادگیری</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="area">
                    <ul class="circles">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <!-- End Register Now Section -->

            <!-- Newsletter Now Section -->
            <div class="new-letter">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="content-new-letter">
                                <div class="media">
                                    <div class="icon-new-letter align-self-center ml-3"><i
                                            class="fas fa-envelope-open-text"></i>
                                    </div>
                                    <div class="media-body">
                                        <h3 class="mt-0 mb-1">اکنون به خبرنامه ما بپیوندید</h3>
                                        <p>برای دریافت به روزرسانی در تبلیغات ، اکنون ثبت نام کنید.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="subscribe-form">
                                <form action="index.html">
                                    <div class="form-group form-subscribe-email">
                                        <input type="text" placeholder="ایمیل خود را وارد کنید" class="form-control">
                                        <button type="submit" class="btn-email">اشتراک</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Newsletter Now Section -->
        </div>
        <!-- Button Back Top -->
        <div class="back-top"><a href="#top"><i class="fas fa-angle-up"></i></a>
        </div>
        <!-- End Button Back Top -->
    </div>
{% endblock %}